<!DOCTYPE html>
<html lang="pl">
<head>
    {% include "includes/head.html" %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            {% include 'includes/admin_sidebar.html'%}
            
            <!-- Content -->
            <div class="content">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                <div class="container py-4">
                    <h1 class="mb-4">Panel administracyjny wypożyczalni samochodów</h1>
                    
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Zarządzaj flotą</h5>
                                    <p class="card-text">Dodawaj, edytuj i usuwaj auta w systemie.</p>
                                    <a href="{% url 'admin_car_view' %}" class="btn btn-primary">Przejdź</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Zarządzaj adresami</h5>
                                    <p class="card-text">Zarządzaj adresami zamieszkania użytkowników.</p>
                                    <a href="{% url 'admin_address_view' %}" class="btn btn-primary">Przejdź</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Zarządzaj wypożyczeniami</h5>
                                    <p class="card-text">Przeglądaj i modyfikuj wypożyczenia.</p>
                                    <a href="{% url 'admin_rent_view' %}" class="btn btn-primary">Przejdź</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Zarządzaj administratorami</h5>
                                    <p class="card-text">Dodawaj i usuwaj administratorów systemu.</p>
                                    <a href="{% url 'admin_admin_view' %}" class="btn btn-primary">Przejdź</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Zarządzaj użytkownikami</h5>
                                    <p class="card-text">Przeglądaj i modyfikuj dane użytkowników.</p>
                                    <a href="{% url 'admin_user_view' %}" class="btn btn-primary">Przejdź</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Zarządzaj czarną listą</h5>
                                    <p class="card-text">Dodawaj i usuwaj użytkowników z czarnej listy.</p>
                                    <a href="{% url 'admin_blackList_view' %}" class="btn btn-primary">Przejdź</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>